---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Newsletter from "../components/Newsletter.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
console.log(projects);
---

<Layout
	title="View Transitions | The best examples of View Transitions in the wild"
>
	<main>
		<div class="py-32 pb-16 md:py-48 md:pb-32">
			<h1
				class="text-4xl md:text-6xl font-display font-medium text-center max-w-5xl mx-auto [text-wrap:balance]"
			>
				A curated collection of epic projects using <span
					class="font-bold text-fuchsia-600">View Transitions</span
				> 💫
			</h1>
		</div>
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-10">
			{
				projects.map((project) => (
					<Card
						key={project.id}
						title={project.data.title}
						href={project.slug}
					/>
				))
			}
		</div>
		<Newsletter />
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-10">
			{
				projects.map((project) => (
					<Card
						key={project.id}
						title={project.data.title}
						href={project.slug}
					/>
				))
			}
		</div>
	</main>
</Layout>
